/**
 * @section Base Styles
 */

body {
	font-size: 125%;
	margin: 0 auto;
	max-width: 42em;
	width: 88%;
}

input,
textarea,
select,
button {
	font: inherit;
}

/*
ensure border box and box sizing fix
*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }